@font-face {
  font-family: "iconfont"; /* Project id 3683615 */
  src: url('iconfont.woff2?t=1664611865198') format('woff2'),
       url('iconfont.woff?t=1664611865198') format('woff'),
       url('iconfont.ttf?t=1664611865198') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-selected:before {
  content: "\e66c";
}

.icon-unselected:before {
  content: "\e933";
}

.icon-refresh:before {
  content: "\e607";
}

