:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 540;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  color: $bg-color;
  background: url("./assets/img/bg.webp") bottom right no-repeat;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 220px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.btn {
  margin-right: 8px;
  margin-bottom: 12px;
  width: 100%;
  border-color: $bg-color;
  background: -webkit-gradient(linear, left top, right bottom, from($bg-color-deep), to($bg-color));
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px #0000000b;
  outline: 0;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  border: 1px solid transparent;
  user-select: none;
  touch-action: manipulation;
  height: 40px;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 6px;
  box-sizing: border-box;
  color: $color-reverse;
}
